@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  margin: 0;
  min-height: 200vh; /* scroll deneyimi için */
  background: repeating-linear-gradient(
    45deg,
    #1d2242 0px,
    #1d2242 400px,
    /* koyu şerit kalınlığı */ #13173a 200px,
    #13173a 800px /* açık şerit kalınlığı */
  );
  background-repeat: repeat;
  background-position: 0 0; /* pattern’in başlangıç noktası */
  font-family: "Comic Neue", sans-serif;
  color: #171717;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.font-comic {
  font-family: "Comic Neue", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -2; /* overlay kartların altına indi */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25; /* pastel overlay */
  pointer-events: none;
}

.arrow-up {
  clip-path: polygon(
    50% 0%,
    100% 40%,
    75% 40%,
    75% 100%,
    25% 100%,
    25% 40%,
    0% 40%
  );
}

.arrow-down {
  clip-path: polygon(
    50% 100%,
    100% 60%,
    75% 60%,
    75% 0%,
    25% 0%,
    25% 60%,
    0% 60%
  );
}

.box-up::before {
  content: "▲";
  position: absolute;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.3); /* yarı saydam */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.box-down::before {
  content: "▼";
  position: absolute;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

nav {
  background-color: #fecd1a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s forwards;
}
